target/
/.project
/.classpath
/.settings
workspace.xml
artifacts
copyright
libraries
scopes
.name
compiler.xml
encodings.xml
misc.xml
modules.xml
uiDesigner.xml
vcs.xml
/my4x-core/*.iml
*.iml
/my4x-card/.gradle
/my4x-card/build
/my4x-common/.gradle
/my4x-common/build
/my4x-core/build
/my4x-core/.gradle
/.gradle
