.family-tree {
	position:relative;
}
.family-tree canvas {
	position:absolute;
	top:0;
	left:0;
}

.ui-tooltip {
	font-size:10px;
	padding: 2px 8px;
}
.brotherhood-container,.couple-container,.leaf-container{
	display:inline-block;
	white-space:normal;
}
.leaf-container{
	clear: right;
	margin : 20px;
    width: 140px;
    /*text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);*/
}
.generation{
	
	white-space:nowrap;
    clear: both;
	width:100%;
	text-align: center;
}
.deceased{
	background-color:#DDD;
}