div#indoormap {
	float:left;
}


div#indoormap div {
	-webkit-transition: translate 0.25s, scale 1s, opacity 1s;
	-moz-transition: translate 0.25s, scale 1s, opacity 1s;
	-o-transition: translate 0.25s, scale 1s, opacity 1s;
	transition: translate 0.25s, scale 1s, opacity 1s;
}

div#pj {
	-webkit-transition: all 0.25s !important;
	-moz-transition: all 0.25s !important;
	-o-transition: all 0.25s !important;
	transition: all 0.25s !important;
}

div.indoorback{
	transform: scale(0.75);
	-moz-transform: scale(0.75);
	-webkit-transform: scale(0.75);
	-ms-transform: scale(0.75);
	opacity:0.3;
	filter: alpha(opacity=30);
}
div.indoorcurrent{
	transform: scale(1.0);
	-moz-transform: scale(1.0);
	-webkit-transform: scale(1.0);
	-ms-transform: scale(1.0);
	opacity:1.0;
	filter: alpha(opacity=100);
}
div.indoorfront{
	transform: scale(1.25);
	-moz-transform: scale(1.25);
	-webkit-transform: scale(1.25);
	-ms-transform: scale(1.25);
	opacity:0.0;
	filter: alpha(opacity=0);
}
div.indoorfloor div.bglayer {
		position: absolute;
	left: 0px;
	top: 0px;
	width:100%;
	height:100%;
	background-color : #000;
}
div.indoorfloor .container > div {
	-moz-user-select: none;
	height: 100px; 
	width: 100px;
	font-size: 100px;
	line-height: 100px;
	position: absolute;
	left: 0px;
	top: 0px;
}
div.indoorfloor .container img{
	max-width: none !important;
}
div.indoormap {
	position:relative;
	
}
div.indoormap, div.indoorfloor{
	height: 700px; 
	width: 700px;
	display:block;
	overflow: hidden;
}


div.indoorfloor{
	position: absolute;
	left: 0px;
	top: 0px;
}
td.currenttile {		
	background-color : #F00 !important;
}
div.currenttile i#user{
	color : #F00 !important;
}
.tile_floor {
	background-color : #AAE;
}
.tile_room {
	background-color : #BBF;
}
.tile_wall {
	background-color : #999;
}
#bottomlayer div.tile_wall {
	background-image : url(../images/indoor-tiles.png);
	background-repeat:no-repeat;
}

#toplayer div.door {
	background-image : url(../images/indoor-tiles.png);
	background-repeat:no-repeat;
	height: 100px; 
	width: 100px;
	position: absolute;
}
#toplayer div.shE.door{
	background-position:0px -300px;
}
#bottomlayer div.shE.door{
	background-position:-500px -500px;
}

#toplayer div.shO.door{
	background-position:-500px -300px;
}
#bottomlayer div.shO.door{
	background-position:-500px 0px;
}

#toplayer div.shN.door{
	background-position:-300px -500px;
}
#bottomlayer div.shN.door{
	background-position:0px -500px;
}

#toplayer div.shS.door{
	background-position:-300px 0px;
}
#bottomlayer div.shS.door{
	background-position:0px 0px;
}
.shE{
	background-position:0px -200px;
}
.shEN{
	background-position:-100px -400px;
}
.shES{
	background-position:-100px -100px;
}
.shOS{
	background-position:-400px -100px;
}
.shON{
	background-position:-400px -400px;
}
.shse{
	background-position:-100px 0px;
}
.shne{
	background-position:0px -400px;
}
.shso{
	background-position:-400px 0px;
}
.shno{
	background-position:-500px -400px;
}

.shO{
	background-position:-500px -200px;
}
.shS{
	background-position:-200px 0px;
}
.shN{
	background-position:-200px -500px;
}
.tile_rock {
	background-color : #555;
}
div#indoorminimap{
	position:relative;
	float:left;
	padding:10px;
}
table.mini {
  		border-spacing: 0px;
  		border-collapse: collapse;
	border :none;
	padding:0px;
	spacing:0px;
}

table.mini td {
	height: 5px; 
	width: 5px;
	font-size: 5px;
	line-height: 5px;
	border :none;
	padding:0px;
}
#pj{
	font-size:60px;
	width:100px;
	height:100px;
	text-align:center;
	line-height:100px;
    position: absolute;	
}

.pnj {
	font-size:50px !important;
	width:100px !important;
	height:100px !important;
	text-align:center !important;
	line-height:100px !important;
    position: absolute !important;	
}


.bumpn_anim
{
	-webkit-animation: bumpn 250ms ease 1;
	-moz-animation: bumpn 250ms ease 1;
	-ms-animation: bumpn 250ms ease 1;
	-o-animation: bumpn 250ms ease 1;
	animation: bumpn 250ms ease 1;
}

/* animation */
@-webkit-keyframes bumpn {
	50% { transform: translateY(-15px); }
}

@-moz-keyframes bumpn {
	50% {transform: translateY(-15px); }
}

@-ms-keyframes bumpn {
	50% { transform: translateY(-15px); }
}

@-o-keyframes bumpn {
	50% { transform: translateY(-15px); }
}

@keyframes bumpn {
	50% { transform: translateY(-15px); }
}

.bumps_anim
{
	-webkit-animation: bumps 250ms ease 1;
	-moz-animation: bumps 250ms ease 1;
	-ms-animation: bumps 250ms ease 1;
	-o-animation: bumps 250ms ease 1;
	animation: bumps 250ms ease 1;
}

/* animation */
@-webkit-keyframes bumps {
	50% { transform: translateY(15px); }
}

@-moz-keyframes bumps {
	50% {transform: translateY(15px); }
}

@-ms-keyframes bumps {
	50% { transform: translateY(15px); }
}

@-o-keyframes bumps {
	50% { transform: translateY(15px); }
}

@keyframes bumps {
	50% { transform: translateY(15px); }
}
